/* font-famaly: "Roboto Regular" */
@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woof") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
			 font-style: normal;
			 font-weight: normal;
			 font-display: optional;
}

/* font-famaly: "Roboto Medium" */
@font-face {
	font-family: "Roboto Medium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoMedium/RobotoMedium.woof") format("woff"),
			 url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
			 font-style: normal;
			 font-weight: normal;
			 font-display: optional;
}

/* font-famaly: "Roboto Bold" */
@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoBold/RobotoBold.woof") format("woff"),
			 url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
			 font-style: normal;
			 font-weight: 700;
			 font-display: optional;
}