body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color: #000000;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
/* ======================== */
html,
body {
	width: 100%;
	height: 100%;
}


/* ===== HEADER ===== */
.main-header {
	background-color: #eeeeee;
	max-width: 1440px;
	min-height: 115px;
	margin: 0 auto;
	display: flex;
	/* position: relative; */
}

/* ----- Main-navigation ----- */
.main-nav-container {
	background-color: rgba(218, 219, 210, 0.637);
	min-width: 1200px;
	min-height: 115px;
	margin: 0 auto;
	position: relative;
}

.main-nav {
	/* background-color: rgba(222, 184, 135, 0.596); */
	/* width: 1160px; */
	height: 115px;
	display: flex; 
	align-items: flex-end;
}

.main-header-logo {
	padding-left: 40px; 
}

.main-nav__list {
	margin: 0 0 0 154px;
	padding: 0;
	display: flex;
}

.main-nav__item, 
.shopcart {
	margin-bottom: 15px;
}

.main-nav__item  a {
	padding-left: 48px;
}


.main-nav__item a,  
.shopcart {
	font-family: "Roboto Medium", sans-serif;
	text-transform: uppercase;
	line-height: 30px;
	color: #000000;
}

.shopcart {
	position: absolute;
	right: 0;
	bottom: 0;
	padding-right: 40px;
}

.shopcart svg {
	margin-right: 24px;
	fill: #a6a6a6;
}


/* ===== MAIN ===== */
main {
	background-color: #d3dee0;
	max-width: 1440px;
	margin: 0 auto;
}
/* ----- Slider ------ */










