body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color: #000000;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
/* ======================== */
html,
body {
	width: 100%;
	height: 100%;
}


/* ===== HEADER ===== */
.main-header {
	background-color: #eeeeee;
	max-width: 1440px;
	min-height: 115px;
	margin: 0 auto;
	display: flex;
	/* position: relative; */
}

/* ----- Main-navigation ----- */
.main-nav-container {
	background-color: rgba(218, 219, 210, 0.637);
	min-width: 1200px;
	min-height: 115px;
	margin: 0 auto;
	position: relative;
}

.main-nav {
	/* background-color: rgba(222, 184, 135, 0.596); */
	/* width: 1160px; */
	height: 115px;
	display: flex; 
	align-items: flex-end;
}

.main-header-logo {
	padding-left: 20px; 
}

.main-nav__list {
	margin: 0 0 0 154px;
	padding: 0;
	display: flex;
}

.main-nav__item, 
.shopcart {
	margin-bottom: 15px;
}

.main-nav__item  a {
	padding-left: 48px;
}


.main-nav__item a,  
.shopcart {
	font-family: "Roboto Medium", sans-serif;
	text-transform: uppercase;
	line-height: 30px;
	color: #000000;
}

.shopcart {
	position: absolute;
	right: 0;
	bottom: 0;
	padding-right: 20px;
}

.shopcart svg {
	margin-right: 24px;
	fill: #a6a6a6;
}


/* ===== MAIN ===== */
main {
	background-color: #eeeeee;
	max-width: 1440px;
	margin: 0 auto;
}

/* ===== Slider ===== */
.container {
	background-color: rgba(218, 219, 210, 0.637);
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.slider {
	background-color: #eeeeee;
	position: relative;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%)
}

.slider-controls label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;

	width: 18px;
	height: 18px;

	background: #ffff;

	border-radius: 50%;
}

.slider__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider__item {
	display: none;
  padding: 78px 0 80px 0;
}

.slider__item:nth-child(1) {
	background-image: url("/img/slider/nerds-index-slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider__item:nth-child(2) {
	background-image: url("/img/slider/nerds-index-slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider__item:nth-child(3) {
	background-image: url("/img/slider/nerds-index-slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#product-1:checked ~ .slider__list .slider__item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider__list .slider__item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider__list .slider__item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .item-1::before,
#product-2:checked ~ .slider-controls .item-2::before,
#product-3:checked ~ .slider-controls .item-3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
  width: 4px;
	height: 4px;
	margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;

	font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__item p {
	max-width: 430px;
  margin: 0;
	margin-bottom: 38px;
	line-height: 24px;
}

.button {
	display: block;
  width: 240px;
	padding: 13px 0;
	
	font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
	text-decoration: none;
	
	background-color: #FB565A;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* ===== Services ====== */
.services {
	background-color: #dbdfc5;
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	padding: 80px 20px 0;
	box-sizing: border-box;
}

.services__list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.services__item {
	background-color: #cccccc;
	width: 300px;
	height: 347px;
	/* margin: 0 auto; */
}

.services__item-1 {
	background-image: url("/img/advantages/illustration-1.png");
	background-repeat: no-repeat;
}

.services__item-2 {
	background-image: url("/img/advantages/illustration-2.png");
	background-repeat: no-repeat;
}

.services__item-3 {
	background-image: url("/img/advantages/illustration-3.png");background-repeat: no-repeat;
}

.services__item h3 {
	/* background-color: #d7373b; */
	margin: 170px 0 0;

	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.services__item p {
	/* background-color: #e74246; */
	margin: 21px 0 0;
}
.services__item button {
	width: 160px;
	height: 50px;

	margin: 39px 0 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #FB565A;
	border-radius: 3px;
	border: none;
}


/* ===== Features ===== */
.features {
	background-color: rgba(235, 192, 163, 0.712);
	width: 1200px;
	height: 527px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}

.features::after {
	content: '';
	width: 1160px;
	height: 2px;
	top: 0;
	background-color: #000000;
	position: absolute; 
}

.features p, h1 {
	margin: 0;
}

.features li {
	line-height: 24px;
	color: #283136;
}

/* ----- features-top ----- */
.features-top {
	background-color: #cab2f771;
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: space-between;
	
}

.features-top h1 {
	background-color: #d7373b;
	margin: 73px 0 0;
	font-family: "Roboto Medium", sans-serif;
	font-size: 45px;
	line-height: 45px;
}

.features-top p {
	background-color: #d7373b;
	margin: 33px 0 0;
	padding: 0 0 5px;
	line-height: 24px;
	color: #283136;
}

.features-top-logo {
	width: 360px;
	height: 208px;
	margin: 42px 0 0;
}

/* ----- features-bottom ----- */
.features-bottom {
	background-color: #f1f084;
	width: 100%;
	height: 237px;
	/* height: 160px; */
	padding: 40px 0 0;
	display: flex;
	justify-content: space-between;
}

.features-bottom__title {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
}

.features-bottom__list1 {
	margin: 0;
	padding: 0;
	background-color: #d7373b;
}

.features-bottom__list1 span {
	color: #283136;
}

.features-bottom__list1 li {
	line-height: 24px;
	color: #283136;
}

.features-bottom__item {
	position: relative;
	margin: 23px 0 0;
}

.features-bottom__item:before  {
	content: '';
	width: 25px;
	height: 2px;
	position: absolute;
	right: 100%;
	margin-top: 10px; 
	margin-right: 15px;
	background-color: #FB565A;
} 

 
.features-bottom__list2 {
	background-color: #44d737;
	margin: 0;
	padding: 0;
	width: 360px;
}

.features-bottom__list2 .title-list2 {
	margin-left: 20px;
}

.features-bottom__flexbox {
	display: flex;
}

.features-bottom__list2-sublist {
	margin: 50px 0 0 -30px;
}
.features-bottom__list2-sublist span {
	font-size: 45px;
	font-weight: 700;
	line-height: 10px;
}

.features-bottom__list2-sublist sup {
	font-size: 26px;
	font-weight: 700;
}

.features-bottom__list2-sublist li {
	padding: 0 20px 0 0;
}

.features-bottom__list2-sublist p {
	color: #283136;
	line-height: 18px;
	margin: 25px 0 0;
}

/* ===== Client ===== */









